<div class="">
  <section  layout-wrap flex layout-md="row" layout-lg="row" layout-xl="row" layout-xs="column"  >
    <md-card md-theme="" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline" style="color:black;">Event Name</span>
            <span class="md-subhead">Content!</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <img ng-src="img/arena2.jpg" alt="" />
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent">Remind Me!</md-button>
        </md-card-actions>
    </md-card>
    <md-card md-theme="" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Headline</span>
            <span class="md-subhead">Content!</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <img ng-src="img/arena.jpg" alt="" />
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent">Remind Me!</md-button>
        </md-card-actions>
    </md-card>
    <md-card  md-theme="" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Headline</span>
            <span class="md-subhead">Content!</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <img ng-src="img/arena.jpg" alt="" />
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent">Remind Me!</md-button>
        </md-card-actions>
    </md-card>
    <md-card md-theme="" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Headline</span>
            <span class="md-subhead">Content!</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <img ng-src="img/arena.jpg" alt="" />
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent">Remind Me!</md-button>
        </md-card-actions>
    </md-card>
    <md-card  md-theme="" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Headline</span>
            <span class="md-subhead">Content!</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <img ng-src="img/arena.jpg" alt="" />
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent">Remind Me!</md-button>
        </md-card-actions>
    </md-card>
    <md-card md-theme="" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Headline</span>
            <span class="md-subhead">Content!</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <img ng-src="img/arena.jpg" alt="" />
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent">Remind Me!</md-button>
        </md-card-actions>
    </md-card>
  </section>
</div>
