<md-content id="home-page" class="" style="background-color: inherit">

  <div layout="row" layout-sm="column" layout-align="space-around" ng-if="!loaded" class="progressCircle">
    <md-progress-circular md-mode="indeterminate" md-diameter="100" class="md-accent md-hue-2"></md-progress-circular>
  </div>

  <!-- DIFFERENT Mobile layout -->
  <!-- Full width cards with title images and text -->
  <!-- Create container with flex 100 and maybe padding -->
  <div class="container" ng-if="loaded && ($mdMedia('xs') || $mdMedia('sm'))">
    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Registration for Season 1 is now open!</span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <img ng-src="img/MainPage_CUE_Season_1_Kickoff.jpg" alt="" />
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" ng-click="redirect('http://google.com')">Read More</md-button>
        </md-card-actions>
    </md-card><md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">PAC-12 announces that they will be hosting eSports tournaments.</span>
            <span class="md-subhead"></span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <img ng-src="img/CUE_Pac12_Announcment.jpg" alt="" />
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" ng-click="redirect('http://www.espn.com/esports/story/_/id/15724001/pac-12-enter-esports-upcoming-year')">Read More</md-button>
        </md-card-actions>
    </md-card>
    <md-card md-theme="{{ showDarkTheme ? 'dark-grey' : 'default' }}" md-theme-watch>
        <md-card-title>
          <md-card-title-text>
            <span class="md-headline">Check out CU eSports on FOX-31 news!</span>
            <span class="md-subhead"></span>
          </md-card-title-text>
          <md-card-title-media>
            <div class="md-media-lg card-media">
              <img ng-src="img/CUE_eSports_In_The_News.jpg" alt="" />
            </div>
          </md-card-title-media>
        </md-card-title>
        <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-raised md-accent" ng-click="redirect('http://kdvr.com/2016/06/30/college-scholarship-money-up-for-grabs-in-competitive-video-gaming/')">Read More</md-button>
        </md-card-actions>
    </md-card>

  </div>



  <!-- First Column -->



  <div layout="column" ng-show="loaded" ng-if="!($mdMedia('xs') || $mdMedia('sm'))">
    <div layout="row">
      <div flex="55" layout="column">

        <md-card id="news-large" ng-if="!($mdMedia('xs') || $mdMedia('sm'))">
          <a href="https://google.com">
            <img ng-src="img/MainPage_CUE_Season_1_Kickoff.jpg" alt="arena" />
            <h1 class="image-text" layout-padding>Registration is now open for Season 1!</h1>
          </a>
        </md-card>

        <div layout="row" id="small-news-container" ng-if="!($mdMedia('xs'))">
          <md-card class="news-small" flex="50">
            <a href="http://www.espn.com/esports/story/_/id/15724001/pac-12-enter-esports-upcoming-year">
              <div id="wrap">
                <img ng-src="img/CUE_Pac12_Announcment.jpg" alt="arena" />
                <h1 class="image-text">PAC-12 announces that they will be hosting eSports tournaments</h1>
              </div>
            </a>
          </md-card>
          <md-card class="news-small" flex="50" >
            <a href="http://kdvr.com/2016/06/30/college-scholarship-money-up-for-grabs-in-competitive-video-gaming/">
              <div id="wrap">
                <img ng-src="img/CUE_eSports_In_The_News.jpg" alt="arena" />
                <h1 class="image-text">Check out CU eSports on FOX-31 news!</h1>
              </div>
            </a>
          </md-card>
        </div>



      </div>

      <div flex="45" id="right-panel" >


        <md-card id="match-tracker" ng-if="!($mdMedia('xs') || $mdMedia('sm') || $mdMedia('md'))">
          <div id="gold-bar"></div>
          <div flex layout-padding>
            <span><h1>Matches Coming Soon!</h1></span>
            <div layout="row" style="display: none;">
              <div flex="10" style="background-color:yellow">
                hey
              </div>
              <div flex="20" style="background-color:red">
                hey
              </div>
              <div flex="10" style="background-color:yellow">
                hey
              </div>
              <div flex="20" style="background-color:red">
                hey
              </div>
              <div flex="10" style="background-color:yellow">
                hey
              </div>
              <div flex="20" style="background-color:red">
                hey
              </div>
            </div>
          </div>
        </md-card>



        <div id="" ng-controller="TwitchCtrl" ng-if="!($mdMedia('xs') || $mdMedia('sm') || $mdMedia('md'))">


          <md-card id="twitch-stream-box">
            <!-- <div id="twitch-stream"></div> -->
            <iframe ng-if="$mdMedia('lg') || $mdMedia('gt-lg') || $mdMedia('xl')"
              src="https://player.twitch.tv/?channel=dansgaming"
              frameborder="0"
              scrolling="no"
              allowfullscreen="true">
            </iframe>
          </md-card>
        </div>
      </div>

    </div>

    <!-- <div class="" layout="row">
      <div flex="70" layout="row">

        <md-card id="news-large">

          <img ng-src="img/arena3.jpg" alt="arena" />
          <md-card-content>
            <h1>NiP win it all!</h1>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
            <md-button class="md-icon-button" aria-label="Settings">
              <md-icon>menu</md-icon>
            </md-button>
          </md-card-actions>
        </md-card>

        <md-card id="news-large">

          <img ng-src="img/arena3.jpg" alt="arena" />
          <md-card-content>
            <h1>NiP win it all!</h1>
          <p>
            The titles of Washed Out's breakthrough song and the first single from Paracosm share the
            two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
          </p>
          </md-card-content>
          <md-card-actions layout="row" layout-align="end center">
          <md-button class="md-icon-button" aria-label="Settings">
            <md-icon>menu</md-icon>
          </md-button>
          </md-card-actions>
        </md-card>

      </div>
    </div> -->
  </div>
  <!-- End First Column-->

</md-content>
