<md-content id="home-page" class="" style="background-color: inherit">

  <div layout="row" layout-sm="column" layout-align="space-around" ng-if="!loaded" class="progressCircle">
    <md-progress-circular md-mode="indeterminate" md-diameter="100" class="md-accent md-hue-2"></md-progress-circular>
  </div>

  <div class="container" ng-if="loaded && ($mdMedia('xs') || $mdMedia('sm'))">

    <md-toolbar class="md-accent md-whiteframe-z2 animated slideInLeft">
      <div class="md-toolbar-tools">
        <span class="animated fadeIn">Welcome! </span>
      </div>
    </md-toolbar>

    <br>

    <md-grid-list md-cols-xs="1" md-cols-sm="2"  md-gutter="10px" md-row-height="1:1" class="animated fadeIn">

      <md-grid-tile class="small-grid-tile md-whiteframe-z1">
        <img src="img/ulol_1.png" alt="" />
        <md-grid-tile-footer ng-click="redirect('https://docs.google.com/forms/d/1yB7XRSAc1FSdNDjM9JRl4coAYIitxN8DT94s75UiaSM/viewform?edit_requested=true')">
          <h3>uLoL Campus Series</h3>
        </md-grid-tile-footer>
      </md-grid-tile>

      <md-grid-tile class="small-grid-tile">
        <img src="img/schedule-week2.png" alt="" />
        <md-grid-tile-footer ng-click="redirect('https://www.reddit.com/r/CU_Boulder_eSports/comments/540zny/saturday_september_24/')">
          <h3>Schedule - September 24</h3>
        </md-grid-tile-footer>
      </md-grid-tile>

      <md-grid-tile class="small-grid-tile" ng-click="redirect('https://docs.google.com/forms/d/e/1FAIpQLSeg07Xn_0Jf8_cJE_QDo2TAKwYRcJRwtOIC2jzUSaepvAZqww/viewform?c=0&w=1')">
        <img src="img/overwatch-event-oct14.jpg" alt="" />
        <md-grid-tile-footer>
          <h3>Overwatch LAN Event</h3>
        </md-grid-tile-footer>
      </md-grid-tile>

      <md-grid-tile class="small-grid-tile" ng-click="redirect('https://www.youtube.com/watch?v=al4svFEtA80')">
        <img src="img/register-help.JPG" alt="" />
        <md-grid-tile-footer>
          <h3>Need Help Registering?</h3>
        </md-grid-tile-footer>
      </md-grid-tile>

    </md-grid-list>

    <md-card id="twitch-stream-box">
      <iframe
        src="https://player.twitch.tv/?channel=Cu_boulder_esports"
        frameborder="0"
        scrolling="no"
        allowfullscreen="true">
      </iframe>
    </md-card>

  </div>




  <div layout="column" ng-show="loaded" ng-if="!($mdMedia('xs') || $mdMedia('sm'))">
    <div layout="row">
      <div flex="60" layout="column">

        <md-card id="news-large" ng-if="!($mdMedia('xs') || $mdMedia('sm'))">
          <a href="https://docs.google.com/forms/d/1yB7XRSAc1FSdNDjM9JRl4coAYIitxN8DT94s75UiaSM/viewform?edit_requested=true">
            <img ng-src="img/ulol_1.png" alt="arena" />
            <h2 class="image-text" layout-padding></h2>
          </a>
        </md-card>

        <div layout="row" id="small-news-container" ng-if="!($mdMedia('xs'))">

          <md-card class="news-small" flex="50" >
            <a href="https://www.reddit.com/r/CU_Boulder_eSports/comments/540zny/saturday_september_24/">
              <div id="wrap">
                <img src="img/schedule-week2.png" alt="arena" />
                <div class="image-footer">
                  <h2 class="image-text">Schedule - September 24th</h2>
                </div>
              </div>
            </a>
          </md-card>

          <md-card class="news-small" flex="50">
            <a href="https://docs.google.com/forms/d/e/1FAIpQLSeg07Xn_0Jf8_cJE_QDo2TAKwYRcJRwtOIC2jzUSaepvAZqww/viewform?c=0&w=1">
              <div id="wrap">
                <img ng-src="img/overwatch-event-oct14.jpg" alt="arena" />
                <h2 class="image-text">LAN Event - Oct. 14</h2>
              </div>
            </a>
          </md-card>

        </div>

      </div>

      <div flex="45" id="right-panel" >

        <md-card id="match-tracker" ng-if="!($mdMedia('xs') || $mdMedia('sm') || $mdMedia('md'))">
          <div id="gold-bar"></div>
          <div ng-if="!isUser" style="font-family: 'Fjalla One', sans-serif;" flex layout-padding>
            <span><h2>Games are starting!</h2></span>
            <hr style="width: 150px;">
            <h1 style="font-size: 5em;">Get Registered!</h1>
            <hr style="width: 100px;">
            <md-button class="md-raised md-accent" style="font-size: 3em;"href="/register" ng-disabled="">Register Here</md-button>
            <span><h3>Only for new users</h3></span>
          </div>
          <div ng-if="isUser">
            <span><h2>Schedule Coming Soon.</h2></span>
          </div>
        </md-card>

        <div ng-controller="TwitchCtrl" ng-if="!($mdMedia('xs') || $mdMedia('sm') || $mdMedia('md'))">
          <md-card id="twitch-stream-box">
            <iframe ng-if="$mdMedia('lg') || $mdMedia('gt-lg') || $mdMedia('xl')"
              src="https://player.twitch.tv/?channel=Cu_boulder_esports"
              frameborder="0"
              scrolling="no"
              allowfullscreen="true">
            </iframe>
          </md-card>
        </div>
        <!-- END TwitchController -->

      </div>
      <!-- END Right Panel -->
    </div>

  </div>


</md-content>
