<md-dialog id="avatar-modal" aria-label="avatar modal"  ng-cloak>

  <md-toolbar class="md-accent">
    <h1 class="md-toolbar-tools">Update Avatar</h1>

  </md-toolbar>

  <md-dialog-content layout-padding>
    <h3 style="color:black">Please use square images.</h3>
    <br>
    <br>
    <md-input-container class="md-accent">
      <label>Image URL (ex. https://website.com/image.jpg)</label>
      <input type="url" ng-model="imageUrl">
    </md-input-container>
  </md-dialog-content>

  <md-dialog-actions layout="row">
    <md-button ng-click="update()" ng-show="imageUrl">Save</md-button>
  </md-dialog-actions>

</md-dialog>
