<md-content style="background-color: inherit" layout-padding layout-wrap>
  <md-card ng-repeat="(team,data) in teams">
    <md-card-title>
      <md-card-title-media>
        <div class="md-media-lg card-media">
          <img ng-src="{{ data.logoUrl }}" class="" alt="Team logo">
        </div>
      </md-card-title-media>
    </md-card-title>
    <md-card-content>
      <h2>{{ data.name }}</h2>
      <p>{{ data.game }}</p>
    </md-card-content>
    <md-card-footer>

    </md-card-footer>
    <div class="md-actions" layout="row|column" layout-align="start|end|center start|end|center">
       <!-- <md-button>Save</md-button>
       <md-button class="md-raised md-accent">Delete Team</md-button> -->
    </div>
  </md-card>
</md-content>
