<div id="player-content">
  <section flex layout-padding>


    <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="loaded" class="progressCircle">
      <md-progress-circular md-mode="indeterminate" md-diameter="100" class="md-accent md-hue-2"></md-progress-circular>
    </div>

    <!-- LEAGUE OF LEGENDS PLAYERS -->
    <div class="" ng-show="loaded">
      <div class="game-logo">
        <img src="img/league_logo.png" alt="" />
      </div>

      <div class="player-row" flex layout-lg="row" layout-xs="column" layout-padding layout-wrap>
        <span flex="10">Username</span>
        <span flex="10">University</span>
        <span flex="10">Major</span>
        <span flex="10">Summoner</span>
        <span flex="10">Battle.net</span>
        <span flex="10">Steam</span>



      </div>

      <div class="player-row" ng-repeat="(uid, user) in players" flex layout-lg="row" layout-xs="column"layout-padding layout-wrap>
        <span flex="10">{{ user.username }}</span>
        <span flex="10">{{ user.university }}</span>
        <span flex="10">{{ user.major }}</span>
        <span flex="10">{{ user.summoner }}</span>
        <span flex="10">{{ user.battleNet }}</span>
        <span flex="10">{{ user.steamProfile }}</span>




        <!-- <span flex="10" ng-show="$mdMedia('lg') || $mdMedia('xl')">
          <md-button  class="md-raised md-accent"><i class="material-icons" style="vertical-align: middle">add</i>Invite to Team</md-button>
        </span> -->

      </div>
    </div>

  </section>
</div>
