<div id="player-content">
  <section flex>


    <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="loaded" class="progressCircle">
      <md-progress-circular md-mode="indeterminate" md-diameter="100" class="md-accent md-hue-2"></md-progress-circular>
    </div>

    <!-- LEAGUE OF LEGENDS PLAYERS -->
    <div class="" ng-show="loaded">
      <!-- <div class="header-image">
        <img src="img/bg1.png" alt="" />
      </div> -->
      <div id="player-welcome" class="md-accent animated bounceInDown md-whiteframe-z4">
        <span class="greeting ">
          Our Members
        </span>

      </div>

      <div ng-if="!$mdMedia('xs')" class="player-row animated slideInLeft md-whiteframe-z3" flex layout-xl="row" layout-lg="row" layout-xs="column" layout-padding >
        <span flex="5"></span>
        <span flex="15">Username</span>
        <span flex="10">University</span>
        <span flex="10">League of Legends</span>
        <span flex="10">Dota 2</span>
        <span flex="10">Overwatch</span>
        <span flex="10">CSGO</span>
      </div>





      <div class="player-row animated slideInLeft md-whiteframe-z2" ng-repeat="(uid, user) in players" flex layout-xl="row" layout-lg="row" layout-xs="column" layout-padding layout-wrap ng-click="showPlayerInfo( user, $event)" ng-if="user.username">

        <div  class="user-container" flex="25" ng-if="$mdMedia('xs') || $mdMedia('sm')">
          <div class="img-container"><img class="img-circle" ng-src="{{user.photoURL}}" alt="" /></div>
          <div ><h2 class="">{{ user.username }}</h2></div>
        </div>

        <div ng-if="!($mdMedia('xs') || $mdMedia('sm'))" flex="10" class="img-container"><img class="img-circle" ng-src="{{user.photoURL}}" alt="" /></div>
        <span ng-if="!($mdMedia('xs') || $mdMedia('sm'))" flex="15"><h2 class="">{{ user.username }}</h2></span>


        <hr ng-if="$mdMedia('xs') || $mdMedia('sm')" style="width: 90%">
        <span ng-if="$mdMedia('lg') || $mdMedia('xl')" flex="10">{{ user.university }}</span>
        <span ng-if="$mdMedia('lg') || $mdMedia('xl')" flex="10">{{ user.games.league.rank }} {{ user.games.league.rankLevel }}</span>
        <span ng-if="$mdMedia('lg') || $mdMedia('xl')" flex="10">{{ user.games.dota.rank }}</span>
        <span ng-if="$mdMedia('lg') || $mdMedia('xl')" flex="10">{{ user.games.overwatch.rank }} </span>
        <span ng-if="$mdMedia('lg') || $mdMedia('xl')" flex="10">{{ user.games.csgo.rank }}</span>


        <!-- <span flex="10" flex-sm="10" flex-xs="10"></span>
        <span flex="10"></span> -->
      </div>







    </div>
    <!-- END wrapper -->

  </section>
</div>
