<div id="player-content">
  <section flex layout-padding>


    <div layout="row" layout-sm="column" layout-align="space-around" ng-hide="loaded" class="progressCircle">
      <md-progress-circular md-mode="indeterminate" md-diameter="100" class="md-accent md-hue-2"></md-progress-circular>
    </div>

    <!-- LEAGUE OF LEGENDS PLAYERS -->
    <div class="" ng-show="loaded">
      <!-- <div class="header-image">
        <img src="img/bg1.png" alt="" />
      </div> -->


      <div ng-if="!$mdMedia('xs')" class="player-row" flex layout-xl="row" layout-lg="row" layout-xs="column" layout-padding layout-wrap>
        <span flex="10">Username</span>
        <span flex="10">University</span>
        <span flex="10">Major</span>
        <span flex="10">Summoner</span>
        <span flex="10">Battle.net</span>
        <span flex="10">Steam</span>
      </div>





      <div class="player-row" ng-repeat="(uid, user) in players" flex layout-xl="row" layout-lg="row" layout-xs="column" layout-padding layout-wrap ng-click="showPlayerInfo( user, $event)">
        <span flex="10"><h2 class="">{{ user.username }}</h2></span>
        <hr ng-if="$mdMedia('xs')" style="width: 90%">
        <span flex="10">{{ user.university }}</span>
        <span flex="10">{{ user.major }}</span>
        <span flex="10">{{ user.summoner }}</span>
        <span flex="10">{{ user.battleNet }}</span>
        <span flex="10" ng-if="user.steamProfile"><a href="{{user.steamProfile}}">Steam Profile</a></span>
      </div>







    </div>
    <!-- END wrapper -->

  </section>
</div>
