<div id="user-profile">
  <md-card id="user-profile-card" class="" layout="column">

    <md-card-header >
      <md-card-header-text>
        <!-- <md-toolbar class="md-whiteframe-z1"><span class="md-toolbar-tools md-accent">Your Profile</span></md-toolbar> -->
      </md-card-header-text>
    </md-card-header>

    <md-card-content id="card-content">
      <!-- User Image, Name -->
      <div id="user-avatar" md-whiteframe="4" ng-click="updateAvatar($event)">
        <img src="{{ userAvatar }}" alt="" />
      </div>

      <h1> {{ displayName }}</h1>

      <hr>

      <md-input-container>
        <label>Username</label>
        <input type="text" ng-model="displayName">
      </md-input-container>
      <br>
      <md-input-container>
        <label>First Name</label>
        <input type="text" ng-model="first">
      </md-input-container>
      <md-input-container>
        <label>Last Name</label>
        <input type="text" ng-model="last">
      </md-input-container>
      <!-- TODO Sex -->

      <br>
      <!-- TODO Are you a student at CU? -->

      <!-- If not, what university? -->

      <!-- TODO Year -->
      <md-input-container>
        <label>University</label>
        <input type="text" ng-model="university">
      </md-input-container>
      <br>
      <md-input-container>
        <label>Major</label>
        <input type="text" ng-model="major">
      </md-input-container>

      <br>

      <md-input-container>
        <label>Year</label>
        <md-select ng-model="year" md-selected-text="">
            <md-option ng-value="opt" ng-repeat="opt in options">{{ opt }}</md-option>
        </md-select>
      </md-input-container>
      <br>

      <hr>

      <div class="" ng-controller="gameRegisterController">
        <md-button  class="md-raised md-accent" ng-click="showModal('league')">LOL Registration</md-button>
        <br>
        <md-button  class="md-raised md-accent" ng-click="showModal('dota')">DOTA Registration</md-button>
        <br>
        <md-button  class="md-raised md-accent" ng-click="showModal('csgo')">CSGO Registration</md-button>
        <br>
        <md-button  class="md-raised md-accent" ng-click="showModal('overwatch')">Overwatch Registration</md-button>
      </div>


      <!-- LEAGUE OF LEGENDS SECTION -->


      <!-- CS:GO SECTION -->


      <!-- DOTA 2 Section -->


      <!-- STARCRAFT SECTION -->


      <!-- OVERWATCH SECTION -->

    </md-card-content>

    <md-card-actions>
      <md-button class="md-raised md-accent" ng-click="save()">Save</md-button>
    </md-card-actions>

  </md-card>
</div>
