<div id="user-profile" flex layout-padding>
  <md-card id="user-profile-card" class="animated bounceInLeft" layout="column">

    <md-card-header>
      <md-card-header-text>
        <span class="md-title">Your Profile</span>
      </md-card-header-text>
    </md-card-header>

    <md-card-content id="card-content">
      <!-- User Image, Name -->
      <div id="user-avatar" md-whiteframe="4" >
        <img src="{{ userAvatar }}" alt="" ng-click="updateAvatar($event)"/>
      </div>
      <h1> {{ displayName }} {{ user.last }}</h1>
      <hr>

      <md-input-container>
        <label>Username</label>
        <input type="text" ng-model="displayName">
      </md-input-container>
      <br>
      <md-input-container>
        <label>First Name</label>
        <input type="text" ng-model="user.first">
      </md-input-container>
      <md-input-container>
        <label>Last Name</label>
        <input type="text" ng-model="user.last">
      </md-input-container>
      <br>
      <md-input-container>
        <label>Major</label>
        <input type="text" ng-model="user.major">
      </md-input-container>

    </md-card-content>

    <md-card-actions>
      <md-button class="md-raised md-primary" ng-click="save()">Save</md-button>
    </md-card-actions>

  </md-card>
</div>
