
html{
  overflow: hidden;
}
body {

}
a:link {
  color: inherit;
}
a .page-button {
  color: #cfb87c;
}
a .page-button:hover{
  color: white;
}
/****************ID SELECTORS************************/
#toolbar-top{
  background-color: #32383D;
}
#side-nav{
  background-color: #32383D;
  overflow: hidden;
}
#side-nav-content {

  background-color: #32383D;

  height: 90%;
  overflow: hidden;
}
#side-nav-content .spacer{
  background-color: #32383D;
  overflow: hidden;
}
#body-content{
  overflow: hidden;
  height: 100vh;
  background-color: #202529;
  color: white;
}

#user-avatar{
  text-align: center;
  background-color: #32383D;
  overflow: hidden;

}
#user-avatar img{
  border-radius: 50%;
  /*max-width: 50%;*/
  width: 10vw;
  height: 10vw;
}
#user-avatar h3 {
  color: white;
  margin: 0;
}

#login-modal{
  /*text-align: center;*/
  background-color: #ECF0F1;
  /*color: white;*/
  margin: 0 auto;
  width: 25vw;
}
#login-modal md-input-container {
  /*color: white;*/
  margin-top: 20px;
  margin-left: 20px;
}
#login-modal md-input-container label {
  /*color: white;*/
}
#login-modal md-input-container input {
  /*color: white;*/
}
#login-modal md-dialog-content {
  padding-top: 20px;
}
#login-modal input {
  /*color: white;*/
  width: 20vw;
}
#register{
  background-color: inherit;
}
#register-card{
  background-color: #ECF0F1;
  width: 45vw;
}

#register-card .md-title-large{
  color: #2980B9;
  font-size: 5em;
}

#register-card #email,#password{
  width: 20vw;
}

#user-profile{
  background-color: inherit;
}
#user-profile input{
  width: 300px;
}
#user-profile #user-profile-card{
  /*width: 40vw;*/
  color: black;
}

#user-profile #user-profile-card #card-content{
  /*text-align: center;*/
  /*margin: 0 auto;*/
}
#user-profile #user-profile-card #user-avatar{
  border-radius: 50%;
  max-width: 10vw;
  max-height: 10vw;
}

#news-large {
  /*height: 30vw;*/
}
#news-large img {
  max-height: 25vw;
}
.news-small{
  height: 5vw;
}
#match-tracker {
  height: 15vw;
}
#right-panel {

}

#notification-button{
  color: red;
  position: absolute;
  bottom: 0;
}

#avatar-modal input{
  width: 20vw;
}



/*****************CLASS SELECTORS*********************/
.gamebox {
  width: 10vw;
  height: auto;
}
.gamebox img{
  position: relative;
  width: 10vw;
}
/*.gamebox-footer {
  position: absolute;
  background-color: grey;
  width: inherit;
  height: 3vw;
  z-index: 100;
  top: 0;

}*/
.list{
  overflow:hidden;
  background-color: #32383D;
  color: white;
}
 .page-button{
   margin-left: 0;
   width: 100%;
 }
 .page-button a{
   width: 100%;
   text-decoration: none;
   color: inherit;
}




.box3, .box2, .box1 {
  display:flex;
  box-sizing: border-box;
  min-width:100%;
}

/*.body-content {
  max-height:70%;
  flex:1 1 70%;
}*/

.box2 {
  height:20px;
}

.box3 {
  height:30%;
  max-height:30%;
  flex:1 1 30%;
}

/*Animate . css*/

.slideInLeft{
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}
.slideInRight{
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
