
html{
  overflow: hidden;
  background-color: #202529;

}
body {

}
a:link {
  color: inherit;
}
a .page-button {
  color: #cfb87c;
}
a .page-button:hover{
  color: white;
}

ng-view {
  height: 1000%;
  /*overflow: scroll;*/
}
md-sidenav{
  max-width: 30vw;
}
md-card .md-headline {
  color: black;
  margin: 10px;
}
md-card .md-subhead {
  margin: 10px;
}
/****************ID SELECTORS************************/
#toolbar-top{
  position: fixed;
  background-color: #32383D;
}
#side-nav{
  /*position: fixed;*/
  background-color: #32383D;
  overflow: hidden;
  height: 100%;
  /*margin-right: 100px;*/
}
#side-nav-content {
  /*position: absolute;*/
  background-color: #32383D;

  height: 90%;
  /*overflow: hidden;*/
}
#side-nav-content .spacer{
  background-color: #32383D;
  /*overflow: hidden;*/
}
#side-nav-wrapper {
  background-color: #32383D;

  height: 100%;
}
#body-content{
  overflow: auto;
  margin-top: 50px;
  height: 100%;
  background-color: #202529;
  color: white;
  padding-top: 20px;
  padding-bottom: 100px;
}

#user-avatar{
  text-align: center;
  background-color: #32383D;
  overflow: hidden;

}
#user-avatar i {
  color: white;
  font-size: 6em;
  margin-left: 55px;
  margin-top: 50px;

  position: absolute;
  z-index: 1000;
}
#user-avatar img{
  border-radius: 50%;
  /*max-width: 50%;*/
  width: 15vh;
  height: 15vh;
}
#user-avatar h3 {
  color: white;
  margin: 0;
}

#login-modal{

  background-color: #ECF0F1;
  /*color: white;*/
  margin: 0 auto;
  width: 40vh;
}
#login-modal md-input-container {
  /*color: white;*/
  margin-top: 20px;
  margin-left: 20px;
}
#login-modal md-input-container label {
  /*color: white;*/
}
#login-modal md-input-container input {
  /*color: white;*/
}
#login-modal md-dialog-content {
  padding-top: 20px;
}
#login-modal input {
  /*color: white;*/
  width: 230px;
}
#register{
  background-color: inherit;
}
#register-card{
  background-color: #ECF0F1;
  width: 95%;
}

#register-card .md-title-large{
  color: #2980B9;
  font-size: 5em;
}

#register-card #email,#password{
  width: 100%;
}

#user-profile{
  /*color: white;*/
  width: 100%;

}
#user-profile h1 {
  color: black;
}
#user-profile input{
  width: 300px;
  /*color: white;*/
}
#user-profile md-select{
  color:inherit;
}
#user-profile md-toolbar{
  width: 100%;
  border-radius: 10px;
  background-color: #cfb87c;
}

#user-profile md-card{
  padding: 0;
}

#user-profile #user-profile-card{
  /*width: 40vw;*/
  /*background-color: #32383D;*/
  /*color: white;*/

}

#user-profile #user-profile-card #card-content{
  /*text-align: center;*/
  /*margin: 0 auto;*/
  /*color: white;*/
}
#user-profile #user-profile-card #card-content input{
  /*color: white;*/
}
#user-profile #user-profile-card #user-avatar{
  border-radius: 50%;
  max-width: 15vh;
  max-height: 15vh;
}
#user-profile #user-profile-card #user-avatar img:hover{
  -webkit-transition : -webkit-filter 250ms ease;
  -webkit-filter: brightness(50%);
}
#user-profile md-select {
  color: inherit;
}

#news-large {
  /*height: 30vw;*/
  position: relative;
  padding-top: 10px;
  margin: 20px;
  height: 55vh;
  background-color: #cfb87c;
}
#news-large .image-text {
  position: absolute;
  color: white;
  bottom: 0;
}
#news-large img {
  -webkit-filter: grayscale(0%) brightness(40%) ;
  height: 100%;
  max-width: 100%
;
}
#small-news-container{
  margin: 20px;
  margin-right: 10px;
  margin-top: 10px;
}
#small-news-container #wrap{
  position: relative;
  width: 100%;
  color: white;
}
#small-news-container .image-text{
  position: absolute;
  z-index: 1000;
  float: left;
  bottom: 0;
  padding: 20px;
}
.news-small{
  position: relative;
  padding-top: 10px;
  margin: 5px;
  margin-left: 5px;
  margin-top: 0;
  height: 29vh;
  width: 100%;
  background-color: #cfb87c;
}
.news-small .image-text {
  position: absolute;
  color: white;
  bottom: 0;
}
.news-small img {
  -webkit-filter: brightness(40%) ;

}

#match-tracker {
  background-color: #32383D;
  height: 50vh;
  margin: 20px;
  margin-left: 10px;
  text-align: center;
  color: white;
}
#match-tracker img{
  margin: 0;
  display: inline;
  max-width: 80px;
  max-height: 80px;
}
#match-tracker #gold-bar {
  width:100%;
  height:10px;
  background-color: #cfb87c;

}



#twitch-stream-box {
  margin: 20px;
  margin-left: 10px;
  height: 35vh;
}
#twitch-stream-box iframe {
  width: 100%;
  height: 100%;
}
#right-panel {

}

#notification-button{

  display: block;

  /*position: absolute;*/
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  z-index: 1000;
}
#notification-button i{
  font-size: 3em;
  vertical-align: middle;
}

#avatar-modal input{
  width: 100%;
}



#home-page{
  overflow: auto;
}

#sponsor-bar {
  width: 100%;
  height: 15vh;
}


#league-modal{
  padding-top: 100px;
  width: 100%;
  height: 80vh;
  text-align: center;
}
#league-modal md-input-container {

  width: 100%;
}
#league-modal md-dialog-content{
  padding-top: 20px;
}

#csgo-modal{
  padding-top: 100px;
  width: 100%;
  height: 80vh;
  text-align: center;
}
#csgo-modal md-input-container {

  width: 100%;
}
#csgo-modal md-dialog-content{
  padding-top: 20px;
}

#dota-modal{
  padding-top: 100px;
  width: 100%;
  height: 80vh;
  text-align: center;
}
#dota-modal md-input-container {
  width: 100%;
}
#dota-modal md-dialog-content{
  padding-top: 20px;
}

#overwatch-modal{
  padding-top: 100px;
  width: 100%;
  height: 80vh;
  text-align: center;
}
#overwatch-modal md-input-container {
  width: 100%;
}
#overwatch-modal md-dialog-content{
  padding-top: 20px;
}

#create-team-card {
  /*width: 50vw;*/
  /*height: 50vh;*/
}
#create-team-card img {
  max-height: 20vh;
  max-width: 20vh;
}

#team-logo-modal {
  width: 20vw;
  height: 20vw;
}


.header-image img{
  max-width: 60%;
}
.welcome-bar{
  width:100%;
  height:20px;
  background-color: yellow;
}

.sponsor-logo{
  max-width: 15vw;
  max-height: 15vh;
}
.progressCircle{
  margin-top: 300px;
}

/*****************CLASS SELECTORS*********************/
#player-content .game-logo{
  text-align: center;
}
.player-row{

  background-color: #32383D;
  margin: 20px;
}
.player-row span{
  width: 1000px;
}
.game-logo img{
  max-width: 30vh;
}



.gamebox {
  width: 10vw;
  height: auto;
}
.gamebox img{
  position: relative;
  width: 10vw;
}
/*.gamebox-footer {
  position: absolute;
  background-color: grey;
  width: inherit;
  height: 3vw;
  z-index: 100;
  top: 0;

}*/
.list{
  overflow:hidden;
  background-color: #32383D;
  color: white;
  text-align: center;
}
 .page-button{
   margin-left: 0;
   width: 100%;
   color: #cfb87c;

 }
 .page-button a{
   width: 100%;
   text-decoration: none;
   color: inherit;
}




.box3, .box2, .box1 {
  display:flex;
  box-sizing: border-box;
  min-width:100%;
}

/*.body-content {
  max-height:70%;
  flex:1 1 70%;
}*/

.box2 {
  height:20px;
}

.box3 {
  height:30%;
  max-height:30%;
  flex:1 1 30%;
}

/*Animate . css*/

.slideInLeft{
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: .5s;
  animation-duration: .5s;
}
.slideInRight{
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight;
  -webkit-animation-duration: .3s;
  animation-duration: .3s;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
